files:
  "/etc/nginx/conf.d/elasticbeanstalk-nginx-docker-upstream.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      upstream docker {
          server 172.17.0.2:80;
          keepalive 256;
      }

commands:
  01_reload_nginx:
    command: "sudo systemctl reload nginx || true"
